/* config start */

// colors
$color-primary-nutmeg: hsl(14, 45%, 36%);
$color-primary-dark-rasberry: hsl(332, 51%, 32%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-rose-white: hsl(330, 100%, 98%);
$color-neutral-eggshell: hsl(30, 54%, 90%);
$color-neutral-light-grey: hsl(30, 18%, 87%);
$color-neutral-wenge-brown: hsl(30, 10%, 34%);
$color-neutral-dark-charcoal: hsl(24, 5%, 18%);

// fonts
// @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");
@font-face {
	font-family: "Young Serif";
	src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
		format("truetype");
}
@font-face {
	font-family: "Outfit";
	src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
		format("truetype");
}
$font-primary: "Outfit", sans-serif; // 400
$font-headings: "Young Serif", serif; // 400, 600,700

// reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li,
a {
	list-style: none;
	text-decoration: none;
	// color: inherit;
}

a,
li,
button {
	cursor: pointer;
}

body {
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
	line-height: 1.2;
}

input,
button,
textarea,
select {
	font: inherit;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* config end */
